html {
  font-family: serif, sans-serif;
}

header {
  background-color: #ffc017;
  line-height: 1.6;
  margin: 0;
  text-align: center;
  color: #080808;
  padding-bottom: 0%;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 0px;
  background-color: #ffc017;
}

.blackline {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  background: inherit;
  z-index: 1;
}

.logoContainer {
  display: flex;
  flex: 1;
}

.logo {
  height: 30px;
  padding-left: 7rem;
}

.listaNav {
  display: flex;
  gap: 15px;
  list-style: none;
  padding-right: 10rem;
}

.listaNav li a {
  text-decoration: none;
  font-weight: 100;
  color: black;
}

.startBtn .listaNav {
  color: #fff;
  background-color: black;
  border-radius: 20px;
  text-decoration: none;
}

.listaNav .startBtn:hover {
  background-color: #333;
}

.titCont {
  min-width: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-family: "Charter", serif;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.4;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  text-align: left;
}

.startBtn {
  color: white !important;
  background-color: black;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.startBtn2 {
  background-color: black;
  color: #fff;
  padding: 10px 40px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.startBtn2:hover {
  background-color: #333;
}

hr {
  /* border: 1px solid black; */
  /* margin-left: -20rem; */
  margin-bottom: 0%;
  margin-top: 0%;
}

/* .line {
  border: 1px solid #757575;
} */

/* .halfLine {
  margin-left: 0%;
  border: 1px solid #757575;
  margin-right: 0%;
  width: 100%;
} */

.Mcontainer {
  height: 450px;
  display: flex;
  flex-direction: row-reverse;
}

/* .M {
  position: absolute;
  right: 0%;
  height: 100%;
  width: 50%;
} */

.containerMain {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.sectionTitle {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

#h5 {
  padding-top: 2rem;
  padding-bottom: 0.25rem;
}

.sectionElement {
  display: flex;
  min-width: 20rem;
  width: 33%;
  height: 6rem;
}

.sectionBody {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.sectionIMG {
  width: 100%;
}

.paddingRight {
  padding-right: 80px;
}

.sectionIMGCnt {
  min-width: 150px;
  max-width: 150px;
  width: 100%;
}

.arcano {
  display: flex;
  gap: 5%;
}

.arcano .sectionElement {
  width: 100% !important;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.paddingLeft {
  padding-left: 9%;
}

.sectionNumber {
  font-size: 1.5rem;
  color: #e6e7e7;
  margin: 0.5rem;
}

.author {
  font-size: 0.78rem;
  font-weight: bold;
  padding-left: 0.5rem;
}

.sectionTitleTitle {
  font-weight: bolder;
  margin-top: 0.5rem;
}

.authorImg {
  border-radius: 50%;
  max-width: 2rem;
}

.date {
  font-size: 0.8rem;
  color: #757575;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section2Title {
  font-size: 1.2rem;
  font-weight: bolder;
}

.sectionTitleContent {
  color: #757575;
  margin-top: 5px;
}

.tag {
  padding: 10px;
  border: 1px solid #757575;
  border-radius: 2px;
  color: #757575;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  padding-top: 1.5rem;
}

.link {
  color: #757575;
}

.tagBackground {
  background-color: #f2f3f3;
  border: 1px solid #f2f3f3;
  padding: 5px;
  border-radius: 20px;
}

.containerGG {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerWP {
  display: flex;
}

.starContainer {
  display: flex;
  align-items: center;
}

footer {
  margin-top: 3rem;
}
